@import "./colors.module.scss";

.button {
  width: 100%;
  position: fixed;
  bottom: 6.8rem;
  left: 11.2rem;
  display: flex;
  justify-content: center;
  gap: 15rem;

  &__btn1 {
    width: 175px;
    height: 55px;
    background-color: rgba(216, 211, 211, 0.416);
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    margin-top: 4rem;
    outline: none;
    border: none;
    
    &:hover {
      background-color: rgba(128, 128, 128, 0.261);
      transition: all 0.2s;
    }
  }
  &__btn2 {
    float: right;
    width: 175px;
    height: 55px;
    background-color: $button-color;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    margin-top: 4rem;
    border: none;
    
    &:hover {
      background-color: lighten($button-color, 7);
      transition: all 0.2s;
    }
  }
}
