.ConfirmPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  &__h1 {
    font-size: 1.9rem;
  }

  &__p {
    text-align: center;
    padding: 0 5rem;
    font-size: 1.2rem;
  }
}
