$bgcolor: #493eff;

.sidebar {
  width: 100%;
  max-width: 352px;
  height: 753px;
  background-color: #493eff;
  border-radius: 20px;
  position: relative;
  padding: 3rem 2rem;

  &__vectorblue {
    width: 232px;
    height: 274.19px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__vectorpink {
    width: 214.49px;
    height: 174.88px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__vectororange {
    width: auto;
    height: 127px;
    position: absolute;
    bottom: 2rem;
    left: 0;
  }
}
