@import "./colors.module.scss";

.Summary {
  width: 100%;
  height: 753px;
  padding: 1.5rem 5rem 1.4rem 5rem;
  position: relative;


  .Summary_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__top {
    background-color: rgba(128, 128, 128, 0.085);
    width: 100%;
    height: 14rem;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__arcade {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__online {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__large {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__price {
      color: $primary-color;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
  }

  
  &__price {
    color: lighten($primary-color, 40);
    font-size: 30px;
    font-weight: 700;
  }
}
